# Configuración de entorno Django
SECRET_KEY=django-insecure-eva3-clave-secreta-de-desarrollo-y-evaluacion-123456
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuración de JWT
ACCESS_TOKEN_LIFETIME_MINUTES=15
REFRESH_TOKEN_LIFETIME_DAYS=1
